.git
.bin
.bundle
.vs

ci
tmp
packages
unit-testing
system-monitor

node_modules

*.tsbuildinfo

.env.backup
.env.backup.*

.idea
.vscode
.eclipse

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

declarations
declarations/*
declarations/**

*.tf
*.tfstate
*.tfstate.*

.terraform/*

cdktf.out
cdktf.out/*
cdktf.out/**

examples
examples/*
examples/**

*.ts
*.map
*.d

*.ts.*
*.map.*
*.d.*

.DS_Store

*.tgz
*.zip
*.log

.editorconfig
.eslintrc.json
.gitignore
.npmignore
.npmrc

lerna.json

coverage
documentation

tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

certificate.crt
private.pem
public.pem

!Dockerfile