.env

.idea
.vscode
.eclipse

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

**/*.map
**/*.js
**/*.d.*

.DS_Store

*.tgz
*.zip

coverage

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log

certificate.crt
private.pem
public.pem
