*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
build
file-descriptors.json
.idea
.vscode
.eclipse

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

coverage

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.d.ts

.DS_Store

*.tgz
*.zip

tsconfig.tsbuildinfo

.secret.json

!./index.js

source
build
